<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="ShoppingList">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Shopping List</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="icon" href="https://lh3.googleusercontent.com/twOma0PzclgQNrKYY0_HUR_Y53XS0oUQkVc0QupYm60umKTe5vR-HKPK6NX41Qc4h0Q"><!-- favicon -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:2%; }
        #todo-list              { margin-bottom:4%; }
        #insert-button		    { margin-bottom:2%; }
        input.form-control	    { margin-top:2%; }
    </style>

    <!-- SPELLS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="https://cdn.radon.cloud/listx.io/core.js.php?l=<%=famId%>"></script><!-- load core script -->
</head>
<!-- SET THE CONTROLLER AND GET ALL items -->
<body ng-controller="mainController">
<div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1><%=famName%>'s Shopping List</h1>
        <h2>Elements: <span class="label label-info">{{ items.length }}</span></h2>
    </div>

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="todo in items">
                <label>
                    <input type="checkbox" ng-click="deleteTodo(todo._id)"> <h3> {{ todo.name }} </h3>
                    <ul><li ng-show="todo.amount"><h4>Amount: {{ todo.amount }}</h4></li><li ng-show="todo.count"><h4>Count: {{ todo.count }}</h4></li><li ng-show="todo.art"><h4>Type: {{ todo.art }}</h4></li></ul>
                </label>
            </div>
        </div>
    </div>

    <!-- FORM TO CREATE items -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg" placeholder="Articlename" ng-model="formData.name">
                    <input type="text" class="form-control input-lg" placeholder="Amount" ng-model="formData.amount">
                    <input type="number" min="1" max="100" placeholder="Count" class="form-control input-lg" ng-model="formData.count">
                    <input type="text" class="form-control input-lg" placeholder="Art / Type" ng-model="formData.art" />
                </div>

                <!-- createToDo() WILL CREATE NEW items -->
                <button type="submit" id="insert-button" class="btn btn-primary btn-lg" ng-click="createTodo()">Add Element</button>
            </form>
        </div>
    </div>
    <h3>User: <%=userName%></h3>
</div>

</body>
</html>
